*{
    margin: 0px;
    padding: 0px;
}
#keralalogo{
    margin-left: 20px;
    height: 80px;
    width: 80px;
    padding-bottom: 1px;
}
.nav-item>a:hover{
    background-color:forestgreen;
    color: black !important;
}
.nav-item{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#tit{
    padding-right: 50px;
    color: green;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}
.dist>a:hover{
    background-color:darkturquoise;
    color: black !important;
}
body{
    background:fixed;
    background-image: url("images/signup3.jpg");
    background-size:cover;
}
.signup{
    background-color:ivory;
    border: 3px solid red;
    width: 85%;
    margin-top: 10px;
    margin-left: 980px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#log_b{
    width: 100%;
}
#anchor{
    text-decoration: none;
}
#sticky-footer{
    margin-top:100px; 
    height: 50px;
}